.MessageContainer {
    width: 100%;
    position: relative;
}

.Message {
    max-width: 80%;
    min-height: 1rem;
    padding: 0.5rem;
    border: 1px solid #999;
    border-radius: 1rem;
    margin: 0.5rem 1rem 0rem;
    text-align: center;
    color: #999;
}