:root {
    --primary: #179CDD;
    --primaryAlt: #72bce0;
    --primaryText: ghostwhite;
    --secondary: #999;
    --secondaryText: black;
    --background: ghostwhite;
}

.TravelAgent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.Chat {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.MessageContainer {
    width: 100%;
    position: relative;
}

.Message {
    max-width: 80%;
    min-height: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    margin: 0.5rem 1rem 0rem;
    text-align: center;
    color: var(--secondary);
}

.Message p {
    margin: 0;
    white-space: pre-wrap;
}

.Message.Info {
    border: none;
    margin: 0.5rem auto;
}

.Message.Question {
    float: left;
    text-align: left;
    background-color: var(--secondary);
    border-color: var(--secondary);
    border-radius: 1rem 1rem 1rem 0rem;
    color: var(--secondaryText);
}

.Message.Response {
    float: right;
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 1rem 1rem 0rem 1rem;
    color: var(--primaryText);
    text-align: right;
}

.Reply {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 1px solid var(--secondary);
    padding: 5px;
}

.Reply .Selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-right: 5px;
}

.Reply .Selection select {
    width: 100%;
    height: 100%;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    background-color: var(--background);
}

.Reply .Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1rem;
}

.Reply .Buttons button {
    width: 100%;
    height: 100%;
    background-color: var(--primaryAlt);
    color: var(--primaryText);
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1rem;
}

.Reply .Buttons button.active {
    background-color: var(--primary);
}

.Send {
    background-color: var(--primary);
    color: var(--primaryText);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
}

.Send.disabled {
    background-color: var(--primaryAlt);
}